<link rel="stylesheet" href="/css/individualmovie.css">
<section class="movie">
    <div>
       
        <img src="<%=movies.posterUrl%>" alt="<%=movies.title%>">
        <h3><%=movies.title%></h3>
        <h4><span>Director :</span> <%=movies.director%></h4>
        <h4><span>Year : </span><%=movies.year%></h4>
        <h4><span>Actors : </span><%=movies.actors%></h4>
        <h4><span>Plot : </span><%=movies.plot%></h4>
    </div>
    
</section>