<link rel="stylesheet" href="/css/movie.css">
<section class="movie-section">   
        <%movies.forEach(movie=>{%>
        
            <a class="linker"href="/movies/<%=movie.title%>">
            <div class="movie-card">
                <img src="<%=movie.posterUrl%>" alt="<%=movie.title%>">
                <h3><%=movie.title%></h3>
                <h3><%=movie.director%></h3>
                <h3><%=movie.year%></h3>
                <form  action="/movies/<%=movie.title%>?_method=DELETE" method="post">
                    <a href=""><input type="submit" name="_method" value="DELETE"></a>
                    </form>
                  <a href="/movies/update/<%=movie.title%>"> Upadte</a>
                    
                
            </div>
        </a>
        
    <%})%>
   
</section>