<link rel="stylesheet" href="/css/movie.css">
<section class="movie-section">   
        <%movies.forEach(movie=>{%>
        
            <a class="linker"href="/movies/<%=movie.title%>">
            <div class="movie-card">
                <img src="<%=movie.posterUrl%>" alt="<%=movie.title%>">
                <h3><%=movie.title%></h3>
                <h3><%=movie.director%></h3>
                <h3><%=movie.year%></h3>
                <h3><a name="moviename"href="/movies/<%=movie.title%>/delete">delete</a></h3>
                <h3><a name="moviename"href="/movies/<%=movie.title%>/edit">Update</a></h3>
            </div>
        </a>
        
    <%})%>
   
</section>